<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="author" content="mybestdeal.today">
    <meta name="application-name" content="My Best Deal"/>
    <meta name="Description" content="My Best Deal Today - Best Deals & Promotions  -  We are a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for us to earn fees by linking to Amazon.com and affiliated sites.">
    <meta name="distribution" content="global" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="ALL"/>
    <meta name="msapplication-tooltip" content="My Best Deal Today - Best Deals & Promotions"/>
    <meta name="keywords" content="Women, Men, Electronics, Computers, Beauty, Home, Toys, Games, Kids, Baby, Handmade, Sports, Outdoors, Automotive, Accesories, Clothing, Handbags, Wallets, Shoes, Watches, Camera, Computer Accesories, Computer Accesories, Mobile Phones, Projectors, TV, Tablets, eReaders, "/>
    <meta name="yandex-verification" content="4bed7c73e600f3fb" />
    <meta name="google-site-verification" content="m0CiIO96FdbUX7dLT_PrX_Y3lZoMmjo5SiKCAVy2WU8" />
    <meta name="p:domain_verify" content="c71c8fb8910e423590fdfa82775c9f14"/>

    {% block socialblock %}{% endblock %}

    <title>{% block title %}My Best Deal{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{% static 'bestdeal/style.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/png" href="/static/bestdeal/images/favicon.ico"/>
</head>
<body>


    <nav class="navbar navbar-inverse">
        <div class="container-fluid">

            <!-- Logo -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}">MyBestDeal</a>
            </div>

            <!-- Items -->
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    {% load menu_items %}
                    {% menu_items %}

                </ul>

                <form class="navbar-form navbar-right" role="search" method="get" action="/search">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" class="form-control" name="q" value="" placeholder="Search Deals" required>
                        <div class="input-group-btn">
                            <button class="btn btn-warning" type="submit"><i class="glyphicon glyphicon-search"></i> Search</button>
                        </div>
                    </div>
                </form>

            </div>

        </div>
    </nav>
    <script>
        $('.dropdown').on('mouseenter mouseleave click tap', function() {
          $(this).toggleClass("open");
        });
    </script>
    {% block body %}
    {% endblock %}

<footer class="navbar-inverse text-white paddingy">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <img src="/static/bestdeal/images/icon.png/" class="img-responsive"/>
            </div>
            <div class="col-md-offset-1 col-md-3 col-sm-6 pl-0">
                <h5 class="nav-link text-uppercase footer-text"> General</h5>
                <ul class="nav flex-column">
                    <li class="nav-item"><a href="/contact/" class="nav-link">Contact</a></li>
                    <li class="nav-item"><a href="/privacy/" class="nav-link">Privacy</a></li>
                    <li class="nav-item"><a href="/terms/" class="nav-link">Terms & Conditions</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 pl-0">
                <h5 class="nav-link text-uppercase footer-text">Popular Categories</h5>
                <ul class="nav flex-column">
                    <li class="nav-item"><a href="/Electronics%20&%20Computers/Computers/" class="nav-link">Computers</a></li>
                    <li class="nav-item"><a href="/Electronics%20&%20Computers/Mobile%20Phones/" class="nav-link">Mobile Phones</a></li>
                    <li class="nav-item"><a href="/Women/Clothing/" class="nav-link">Women Clothing</a></li>
                    <li class="nav-item"><a href="/Men/Watches/" class="nav-link">Men Watches</a></li>
                </ul>
            </div>
            <div class="col-md-3 ml-auto text-right">
                <h5 class="text-uppercase footer-text">Connect on social media</h5>
                <ul class="nav justify-content-end">
                    <li class="nav-item social"><a href="#" class="nav-link pr-0"><i class="fa fa-pinterest fa-lg"></i></a></li>
                    <li class="nav-item social"><a target="_blank" href="https://twitter.com/mybestdealtoday" class="nav-link pr-0"><i class="fa fa-twitter fa-lg"></i></a></li>
                    <li class="nav-item social"><a target="_blank" href="https://www.instagram.com/mybestdealtoday" class="nav-link pr-0"><i class="fa fa-instagram fa-lg"></i></a></li>
                    <li class="nav-item social"><a target="_blank" href="https://www.facebook.com/mybestdealtoday/" class="nav-link pr-0"><i class="fa fa-facebook fa-lg"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-right small">
                    <p class="footer-text"> @2017 MyBestDeal.Today</p>
            </div>
            <div class="col-12 text-center small">
                    <p class="footer-text"> Amazon, Amazon Prime, the Amazon logo and Amazon Prime logo are trademarks of Amazon.com, Inc. or its affiliates</p>
            </div>
        </div>
    </div>
</footer>



<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter45655047 = new Ya.Metrika({
                    id:45655047,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/45655047" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

</body>
</html>