{% extends 'base.html' %}
{% block title %}Contact{% endblock %}
{% block body %}

<div class="container">
    <div class="row">

        <div class="col-md-3">
            <h2>Contact Us</h2>
            <div class="list-group">
                <a href="mailto:zwyanezade@outlook.com" class="list-group-item"><i class="fa fa-envelope fa-lg">Mail</i></a>
                <a href="#" class="list-group-item"><i class="fa fa-pinterest fa-lg">Pinterest</i></a>
                <a target="_blank" href="https://twitter.com/mybestdealtoday" class="list-group-item"><i class="fa fa-twitter fa-lg">Twitter</i></a>
                <a target="_blank" href="https://www.instagram.com/mybestdealtoday" class="list-group-item"><i class="fa fa-instagram fa-lg">Instagram</i></a>
                <a target="_blank" href="https://www.facebook.com/mybestdealtoday/" class="list-group-item"><i class="fa fa-facebook fa-lg">Facebook</i></a>
            </div>
        </div>


    </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br>


{% endblock %}